* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(131, 39, 80, 0.14), rgba(30, 4, 14, 0.7)), url(images/som_image_2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.805);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    z-index: 10;
}
nav img{
    width: 150px;
    height: 45px;
    display: block;
    margin: 0;
    padding: 0;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        margin: 10px 0px 40px;
        font-size: 10px;
        color: #fff;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-------- Matches --------*/

.matches{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.matches h1{
    font-size: 36px;
    font-weight: 600;
}
.matches p{
    color: #777;    
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}
.match-col{
    flex-basis: 90%;
    max-width: 1400px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(images/cropped_heart_photo.png);
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: left;
}
.match1{
    background-position: 0% 10%;
}
.match2{
    background-position: 50% 32%;
}
.match3{
    background-position: 66% 100%;
}
.match-col:hover{
    transform: translateY(-5px);
}
.match-col h3{
    margin-bottom: 10px;
    font-weight: 700;
    color:#f44336;
}
.match-col p{
    color:#ddd;
    padding: 0;
}
.region-filters{
    margin: 30px 0;
    text-align: center;
}
.filter-btn{
    background: transparent;
    /* background-color: #f44336;
    color: #000;
    border-color: #f44336;
    font-weight: 600; */
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

}
.filter-btn:hover{
    color:#fff;
    border-color: #f44336;
}
.filter-btn.active{
    background-color: #f44336;
    color: #000;
    border-color: #f44336;
    font-weight: 600;
}

/* TODO: Fix text inside match cards*/
@media(max-width: 700px){
    .row{
        gap: 0px;
    }
    .match-col{
        max-width: 150px;
        max-height: 50px;
        flex-basis: 100%;
        background-size: 200% auto;
        background-position: center center;
    }
    .matches-h1{
        font-size: 20px;
    }
    .match-col p{
        font-size: 10px;
    }
    .match1{
    background-position: 0% 10% !important;
    }
    .match2{
        background-position: 50% 32% !important;
    }
    .match3{
        background-position: 100% 100% !important;
    }
    
}

/*-------- Standings --------*/
.standings{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.standings{
    font-size: 36px;
    font-weight: 600;
}
.standings p{
    color: #777;    
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.leaderboard {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 30px;
}
.firstPlace {
    flex-basis: 90%;
    max-width: 300px;
    height: 400px !important;
    background: gold;
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: left;
}
.secondPlace {
    flex-basis: 90%;
    max-width: 300px;
    height: 300px !important;
    background: silver;
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: left;
}
.thirdPlace {
    flex-basis: 90%;
    max-width: 300px;
    height: 200px !important;
    background: rgb(187, 122, 69);
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
}

/* ------ Standings Page ------*/
.standings-page {
    background-color: #c4c4c4
}
.menu nav {
    background-color: rgb(49, 49, 49);
}
.content-container {
    background-color:#F8F8F8;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
    margin: 40px auto;
}
.region-menu-filters{
    justify-content: space-between;
    margin: 10px 0;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #c4c4c4;
}
.region .filter-btn{
    background: transparent;
    background-color: #808080;
    color: #000;
    border-color: #f44336;
    font-weight: 600;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

}
.region .filter-btn:hover{
    color:#fff;
    border-color: #f44336;
}
.region .filter-btn.active{
    background-color: #f44336;
    color: #000;
    border-color: #f44336;
    font-weight: 600;
}